<html>
    <head>
      <title>Flask-Dash App Factory</title>
    </head>
    <body>
        <header>
            <a href="/" class='nav-bar-text-link'>Home:</a>
            <a href="/app_1" class='nav-bar-text-link'>Dash App 1 As Jinja Template iFrame</a>
            <a href="/app_2" class='nav-bar-text-link'>Dash App 2 As Jinja Template iFrame</a>
            <a href="/app_1_raw_dash" class='nav-bar-text-link'>Dash App 1 As Native Dash Layout</a>
            <a href="/app_2_raw_dash" class='nav-bar-text-link'>Dash App 2 As Native Dash Layout</a>
            <a href="/non_dash_app" class='nav-bar-text-link'>Non-Dash App</a>
        </header>
        {% block content %}{% endblock %}
    </body>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app_style.css')}}">
</html>
